$high-emph: #fafafa; 
$red: #dc2626;
$blue: #0369a1;
$blue-hover: #2563eb;
$black: #18181b;
$grey : #a3a3a3;
$overlay: #f5f5f4;
$overlay-light: #f5f5f4;

* {
    transition: all 0.2s ease-in-out;
}

html,
body,
input,
textarea,
select,
button {
    color: $high-emph !important;
    background-color: $grey !important;
}
.site-title,
.site-title:visited,
.site-nav,
.page-link {
    color: $red !important;
}

.site-nav {
    background-color: $grey;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $grey $overlay-light;
}

pre,
code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
    color: #fff;
}

.page-description {
    color: $black;
}

.post-meta {
    color: $black;
}

.post-content p,
.post-content li {
    color: $black;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $grey !important;
}

table th {
    border-color: $overlay-light;
    color: $high-emph;
}

table td {
    background-color: $grey;
    border-color: $overlay-light;
    color: $black;
}

.flash {
    color: $grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $black !important;
}

.site-header {
    position: sticky;
    top: 0;
    background-color: $grey !important;
}

a {
    color: $blue !important;
}

a:hover {
    color: $blue-hover !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
    font-family: "Inter", sans-serif !important;
}
@supports (font-variation-settings: normal) {
    * {
        font-family: "Inter var", sans-serif !important;
    }
}

code,
pre * {
    font-family: "IBM Plex Mono", monospace !important;
}
h1,
h2 {
    font-weight: bold !important;
}

.highlight {
    background-color: #000000 !important;
}

html {
  scroll-behavior: smooth !important;
}
